.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 0 10px 0;
}

@media(min-width: 1199px) {
  .cards {
    width: 410px;
    margin: 0;
  }
}