.input {
  display: block;
  width: 100%;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
  color: #fff;
  transition: transform .5s;
  border-radius: 0;
}

.input:focus {
  outline: none;
  transform: scale(1.05);
}

.input::placeholder {
  color: #fff;
}